<p>Hey {{username}},</p>
<p>We recently received a request to delete the app {{appName}} that was created by you.</p>
<p>If you made this request, please click on the "CONFIRM DELETE" link or copy and paste the URL into your browser.</p>
<p><a href='{{url}}'>CONFIRM DELETE</a></p>
<p>{{url}}</p>
<p>Warm regards,<br>
The PeerID Team</p>
