<p>Hey {{username}},</p>
<p>We recently received a request to change your PeerID email id.</p>
<p>If you made this request please click the "Verify Email" link or copy and paste the URL into your browser.</p>
<p><a href='{{url}}'>VERIFY EMAIL</a></p>
<p>{{url}}</p>
<p>Warm regards,<br>
The PeerID Team</p>
