<p>Hey {{username}},</p>
<p>Your account has been successfully created! </p>
<p>Your Peerplays Master Password is {{peerplaysPassword}}. Please keep this password safe.</p>
<p>Warm regards,<br>
The PeerID Team</p>

