<p>Hey {{username}},</p>
<p>Your account has been successfully created! </p>
<p>Your CommodityLLC Master Password is {{peerplaysPassword}}. Please keep this password safe.</p>
<p>Warm regards,<br>
The CommodityLLC Team</p>

