<p>Hey {{username}},</p>
<p>We recently received a request to reset your CommodityLLC account password.</p>
<p>If you made this request please click the "Reset My Password" link or copy and paste the URL into your browser.</p>
<p><a href='{{url}}'>RESET MY PASSWORD</a></p>
<p>{{url}}</p>
<p>Warm regards,<br>
The CommodityLLC Team</p>
