<p>Hey {{username}},</p>
<p>Your account has been successfully created! To verify your email address and complete your account creation, please click the verification button below or copy and paste the address into your browser:</p>
<p><a href='{{url}}'>VERIFY ACCOUNT</a></p>
<p>{{url}}</p>
<p>Warm regards,<br>
The PeerID Team</p>

